*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 100%;
    background-color: #1d1d22;
    
 
}
.container .navbar{
    width: 80%;
    margin: auto;
}
.container .navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
}
.container .navbar ul{
    list-style: none;
}
.container .navbar ul .logo-box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container .navbar ul .logo-box #logo{
    font-size: 60px;
    color: #fd961a;
}
.container .navbar ul .logo-box  p{
    font-size: 40px;color: #fff;
}
.container .navbar ul .listes{
    display: flex;
    color: #ffffff;
}
.container .navbar ul .listes li{
    margin: 0px 10px;
}
.container .navbar ul .listes li .live-bit{
    color: #fd961a;
}
.container .navbar ul .login-btns button{
    outline: none;
    border: 1px solid #fd961a;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0px 10px;
    background-color: transparent;

}
.container .navbar ul .login-btns .login{
    color: #fd961a;
    font-size: 16px;
    transition: 0.4s;
    cursor: pointer;
}
.container .navbar ul .login-btns .login a{
    text-decoration: none;
    color: #fd961a;
}
.container .navbar ul .login-btns .login:hover{
    color: #fff;
    background-color: #fd961a;
}
.container .navbar ul .login-btns .login:hover a{
    color: #fff;
}
.container .navbar ul .login-btns .rigsiter{
    background-color: #fd961a;
    color: #ffff;
    cursor: pointer;
    font-size: 16px;
    transition: 0.4s;
}
.container .navbar ul .login-btns .rigsiter a{
    text-decoration: none;
    color: #ffff;
}
.container .navbar ul .login-btns .rigsiter:hover{
    box-shadow: 2px 2px 4px #fd961a;
}




.container .menu ul{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #111111;
    padding: 20px 0px;
}
.container .menu ul li{
    list-style: none;
    margin: 0px 20px;
    font-size: 16px;
    display: flex;
    color: #ffff;
    text-transform: uppercase;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.container .menu ul li:hover{
    color: #fd961a;
}
.container .menu ul li #logo{
    font-size: 50px;
    color: #ffff;
}
.active{
    color:#fd961a !important;
}

/* .Sign-up{
    position: absolute;
    right: 50px;
    text-decoration: none;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#1d1d22, #1d1d22), radial-gradient(circle at top  left , #fd00da ,#19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.Sign-up span{
    display: block;
    padding: 8px 22px;
} */


/* hero */

.hero{
  /*   width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; */
    background-image: url(../img/hero.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    position: relative;
}

.hero-content{
    position: absolute;
    top: 200px;
    left: 150px;
    text-align: center;
    color: #ffffff;
    font-size: 35px; 
}
.hero-content h1 span{
    color: #fd961a;
}

.hero-content .learMore-btn{
    outline: none;
    background-color: transparent;
    border: 1px solid #fd961a;
    color: #fd961a;
    padding: 12px 30px;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.4s;
}
.hero-content .learMore-btn:hover{
    background-color: #fd961a;
    color: #ffffff;
}
.walled{
    width: 80%;
    margin: 0px auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
    color: #fff;
    background-color: #1d1d1d;
}
.b-wallet, .cions-wallet , .buy-wallet{
    padding: 0px 30px;
    display: flex;
}
.b-wallet .icon , .cions-wallet .icon, .buy-wallet .icon{
    font-size: 60px;
    color: #fd961a;
    margin-right: 20px;
}

.b-wallet .texts h4, .cions-wallet h4, .buy-wallet h4 {
    font-size: 20px;
    margin-bottom: 5px;
}
.b-wallet .texts p, .cions-wallet .texts p , .buy-wallet .texts p{
    margin-left: 5px;
    font-size: 16px;
}

/* /* about us */
 .about{
    background-color: #1d1d22;
    text-align: center;
    padding-top: 60px;
    color: #fff;
} 
.about h2{
    font-size: 50px;
}
.about h2 span{
    color: #fd961a;
}
.about p{
    font-size: 20px;
    margin-top: 10px;
}
.about p span{
    display: inline-block;
    color: #fd961a;
    padding: 0px 10px;
    font-weight: bold;
}
.about-section{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
.about-section .img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.about-section .text{
    width: 50%;
}
.about-section .text h4{
    text-align: start;
    font-size: 25px;
}
.about-section .text p{
    text-align: start;
    font-size: 16px;
    line-height: 25px;
    color: #bfb5b5;
}
.about-section .text ul{
    list-style: none;
    display: flex;
    padding: 15px 0px;
    justify-content: space-between;
}
.about-section .text ul li{
    border-left: 1px solid #ffff;
    border-bottom: 1px solid #ffff;
    padding-left: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: 0.4s;
}
.about-section .text ul li.active{
    color: #fd961a;
}
.about-section .text ul li:hover{
    color: #fd961a;
    padding-right: 10px;
    padding-top: 10px;
    border-right: 1px solid #ffff;
    border-top: 1px solid #ffff;
    border-left: 0;
    border-bottom: 0;
}
.about-section .text .read-more{
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    background-color: #fd961a;
    color: #fff;
    width: fit-content;
    margin-top: 20px;
    transition: 0.5s;
}
.about-section .text .read-more:hover{
    background-color: transparent;
    border: 1px solid #fd961a;
}